.hero {
    width: 100%;
    min-height: 30vh;
    background: linear-gradient(342deg, #f9c071, #845ec2);
    color: white;
    position: relative;
    transition: background-position 1s;
}

.hero:hover {
    background-position: +90;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.picks {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(235, 0, 255, 0.11), rgba(235, 0, 255, 0.11));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    gap: 3em;
}
